{{#> app}}
 {{#*inline  "content"}}
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-2">
            <img src="/img/headphones.jpg" class="img-fluid rounded">
        </div>
        
        <div class="col-md-6 col-lg-4 mb-2">
            <img src="/img/iphone-11-pro-max.jpg" class="img-fluid rounded">
        </div>
    </div>
 {{/inline}}
{{/app}}